doctype html
html(lang="ru")
    include ../includes/_head
    body
        div.page_wrapper
            include ../includes/_header
            main.page_content
                h1 home page
                p text
            include ../includes/_footer
        include ../includes/_scripts