doctype html
html(lang="ru")
    include ../includes/_head
    body
        div.page_wrapper
            include ../includes/_header
            include ../includes/_slider
        main.main_wrapper
            div.page_content
                include ../includes/_filter
            div.container_fluid
                div.container
                    div.content_wrapper
                        include ../includes/_sidebar
                        include ../includes/_content
        include ../includes/_footer
        include ../includes/_scripts