doctype html
html(lang="ru")
    include ../includes/_head
    body
        div.page_wrapper
            include ../includes/_header
            main.page_content
                h1 test
                p wery interesating!
            include ../includes/_footer
        include ../includes/_scripts