*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: "montserratblack";
  src: url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype"); }

@font-face {
  font-family: "montserratregular";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "crimson-roman";
  src: url("../fonts/Crimson/crimson-roman-webfont.woff2") format("woff2"), url("../fonts/Crimson/crimson-roman-webfont.woff") format("woff"), url("../fonts/Crimson/crimson-roman-webfont.ttf") format("truetype"); }

body {
  min-width: 320px;
  color: #616161;
  font-family: "montserratregular";
  font-size: 15px;
  background-color: #e4e5e7; }

h1 {
  font-size: -webkit-calc(25px + 2.73vw);
  font-size: calc(25px + 2.73vw);
  /*60px*/
  margin-bottom: -webkit-calc(20px + 2.34vw);
  margin-bottom: calc(20px + 2.34vw);
  /*50px*/ }

h2 {
  font-size: -webkit-calc(20px + 2.34vw);
  font-size: calc(20px + 2.34vw);
  /*50px*/
  font-family: "montserratregular"; }

h3 {
  font-weight: 600;
  font-size: -webkit-calc(15px + 1.17vw);
  font-size: calc(15px + 1.17vw);
  /*30px*/
  margin-bottom: 10px; }

h5 {
  font-family: "PoppinsMedium", sans-serif;
  font-size: -webkit-calc(15px + .39vw);
  font-size: calc(15px + .39vw);
  /*20px*/
  margin-bottom: -webkit-calc(15px + 1.95vw);
  margin-bottom: calc(15px + 1.95vw); }

header {
  background-color: white; }

.headline h2 span {
  position: relative;
  z-index: 2; }

.headline h2:after {
  content: attr(data-count);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #f6f6f6;
  font-size: -webkit-calc(50px + 17.18vw);
  font-size: calc(50px + 17.18vw);
  font-family: 'PoppinsMedium'; }

.headline_section {
  text-align: center;
  margin-bottom: -webkit-calc(20px + 4.68vw);
  margin-bottom: calc(20px + 4.68vw); }

.headline_section .headline h2:after {
  right: 0;
  color: #f0f0f0; }

.fix_headline {
  position: relative; }

p {
  /*margin-bottom: calc(15px + 1.95vw); 40px*/ }

a {
  color: #3a3a3a; }

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.container_fluid {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.button {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: -webkit-calc(25px + 5.07vw);
  margin-bottom: calc(25px + 5.07vw);
  background-color: #fc5f45;
  padding: 20px -webkit-calc(20px + 2.34vw);
  padding: 20px calc(20px + 2.34vw);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.button:hover {
  background-color: #38c695; }

.main_wrapper {
  background-color: #e4e5e7; }

.content_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  color: #b9bed1;
  text-transform: uppercase;
  font-family: "montserratregular";
  font-size: 12px;
  font-weight: bold; }

header .container_fluid {
  border-bottom: 1px solid #f2f2f2; }

.header__nav {
  padding: 35px 45px;
  height: 18px;
  border-right: 1px solid #f2f2f2; }

.header__nav_line {
  position: relative;
  padding: 1px 10px;
  border-bottom: 2px solid #343e5c;
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px); }

.header__nav_line:before {
  content: '';
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #343e5c;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }

.header__nav_line:after {
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #343e5c;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }

.header__nav_line.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }

.header__nav_line.animate:after {
  top: 25px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }

.header {
  position: relative;
  z-index: 10;
  background-color: black;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.header_logo {
  padding: 30px; }

.header_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header_menu li {
  padding: 40px 16px; }
  .header_menu li a {
    font-family: "montserratregular";
    font-size: 14px;
    font-weight: bold;
    text-decoration: none; }
    .header_menu li a:hover {
      color: #b9bed1; }

.header_top {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.menu__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.menu_item:not(:last-child) {
  margin-right: -webkit-calc(15px + .78vw);
  margin-right: calc(15px + .78vw); }

.menu_link {
  color: #272727;
  text-decoration: none;
  font-size: 14px;
  font-family: 'PoppinsMedium', sans-serif; }

.header_cart {
  padding: 15px 15px; }
  .header_cart p {
    color: #343e5c;
    font-weight: bold; }
  .header_cart span {
    display: inline-block;
    width: 24px;
    margin-left: 10px;
    padding: 4px;
    background-color: #e3e8f0;
    -webkit-border-radius: 12px;
            border-radius: 12px;
    text-align: center; }
  .header_cart .cart_icon {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -24px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='19px' height='17px'%3E%3Cpath fill-rule='evenodd' fill='rgb(52, 62, 92)' d='M18.000,4.052 L17.000,7.040 C16.630,7.878 16.105,9.032 15.000,9.032 L5.360,9.032 L5.478,10.028 L18.000,10.028 L17.000,12.019 L4.352,12.019 L3.709,12.095 L2.522,2.061 L1.000,2.061 C0.448,2.061 -0.000,1.615 -0.000,1.066 C-0.000,0.515 0.352,0.008 0.905,0.008 L4.291,-0.006 L4.545,2.145 C4.670,2.096 4.812,2.061 5.000,2.061 L17.000,2.061 C18.105,2.061 18.000,2.953 18.000,4.052 ZM6.000,13.015 C7.105,13.015 8.000,13.906 8.000,15.007 C8.000,16.107 7.105,16.998 6.000,16.998 C4.895,16.998 4.000,16.107 4.000,15.007 C4.000,13.906 4.895,13.015 6.000,13.015 ZM14.000,13.015 C15.105,13.015 16.000,13.906 16.000,15.007 C16.000,16.107 15.105,16.998 14.000,16.998 C12.896,16.998 12.000,16.107 12.000,15.007 C12.000,13.906 12.896,13.015 14.000,13.015 Z'/%3E%3C/svg%3E");
    background-position: 0% 50%; }

.header_register {
  padding: 10px 15px; }

.header_register p {
  padding: 10px 18px;
  border: 2px solid #e3e8f0;
  -webkit-border-radius: 30px;
          border-radius: 30px; }

.header_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .header_bottom a {
    font-family: "montserratregular";
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #b9bed1; }
    .header_bottom a:hover {
      color: #343e5c; }
    .header_bottom a.active {
      color: #343e5c; }

.header_bottom_menu {
  border-right: 1px solid #f2f2f2;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 800px;
      -ms-flex: 0 1 800px;
          flex: 0 1 800px; }

.header_main_menu {
  padding: 0px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.header_main_menu li {
  padding: 20px 15px; }

.header_main_menu .last_item {
  margin-left: auto; }

.header_bottom_search {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 200px;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  margin-left: 40px; }
  .header_bottom_search input {
    margin-left: 10px;
    color: #b9bed1;
    font-weight: bold;
    border: none; }

.search_icon {
  position: absolute;
  margin: 3px 0 0 -20px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='13px'%3E%3Cpath fill-rule='evenodd' fill='rgb(52, 62, 92)' d='M12.614,12.611 C12.113,13.110 11.302,13.110 10.801,12.611 L8.158,9.967 C6.087,11.222 3.360,10.971 1.571,9.182 C-0.531,7.079 -0.531,3.670 1.571,1.568 C3.674,-0.536 7.083,-0.536 9.185,1.568 C10.974,3.357 11.225,6.084 9.971,8.154 L12.614,10.799 C13.115,11.297 13.115,12.109 12.614,12.611 ZM7.735,3.018 C6.433,1.716 4.323,1.716 3.022,3.018 C1.720,4.319 1.720,6.430 3.022,7.731 C4.323,9.034 6.433,9.034 7.735,7.731 C9.037,6.430 9.037,4.319 7.735,3.018 Z'/%3E%3C/svg%3E"); }

.slider_block {
  height: 500px;
  background-color: #14181e;
  margin-bottom: 50px; }
  .slider_block .slide_info {
    position: absolute;
    top: 20px;
    z-index: 10;
    width: 460px;
    color: white;
    margin: 100px; }
    .slider_block .slide_info h2 {
      font-size: 42px;
      font-family: "montserratblack";
      color: white;
      margin-bottom: 30px; }
    .slider_block .slide_info p {
      font-family: "crimson-roman";
      font-size: 16px;
      margin-bottom: 30px;
      line-height: 28px; }
    .slider_block .slide_info a {
      display: block;
      width: 140px;
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-family: "montserratregular";
      font-size: 12px;
      color: white;
      background-color: #2754eb;
      -webkit-border-radius: 20px;
              border-radius: 20px; }
      .slider_block .slide_info a:hover {
        background-color: #077feb; }

.owl-dots {
  position: absolute;
  margin-top: -40px;
  text-align: center;
  width: 100%; }

.owl-dot {
  -webkit-border-radius: 50px;
          border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127, 127, 127, 0.5);
  margin-left: 5px;
  margin-right: 5px; }

.owl-dot.active {
  background: #7f7f7f; }

.owl-nav {
  font-size: 30px; }
  .owl-nav .owl-prev, .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    -webkit-border-radius: 50% !important;
            border-radius: 50% !important; }
    .owl-nav .owl-prev span, .owl-nav .owl-next span {
      display: block;
      line-height: 30px;
      width: 40px;
      height: 40px;
      border: 2px solid #494b4f !important;
      -webkit-border-radius: 50% !important;
              border-radius: 50% !important;
      color: white; }
    .owl-nav .owl-prev span:hover, .owl-nav .owl-next span:hover {
      background-color: #9ea0a5; }
  .owl-nav .owl-prev {
    left: 0; }
  .owl-nav .owl-next {
    right: 0;
    -webkit-border-radius: 50% !important;
            border-radius: 50% !important; }

.sidebar_container {
  width: 270px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px; }
  .sidebar_container .sidebar_block {
    width: 270px;
    min-height: 200px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: white;
    margin-bottom: 30px; }

.accordion_menu {
  width: 100%;
  max-width: 350px;
  margin: 0px auto 20px;
  background: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  list-style: none; }
  .accordion_menu li {
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid #f2f2f2; }
  .accordion_menu .noborder {
    border: none;
    padding-bottom: 0; }

.accordion_menu > li > a {
  width: 100%;
  display: block;
  position: relative;
  padding: 0 20px;
  font-size: 13px;
  text-transform: capitalize;
  text-decoration: none;
  color: #343e5c; }

.accordion_menu > li > a:after {
  content: "";
  position: absolute;
  right: 20px;
  width: 10px;
  height: 10px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="6px"> <path fill-rule="evenodd"  opacity="0.302" fill="rgb(52, 62, 92)" d="M9.701,1.829 L5.866,5.664 C5.629,5.902 5.310,5.992 5.000,5.963 C4.689,5.992 4.371,5.902 4.133,5.664 L0.298,1.829 C-0.125,1.405 -0.125,0.718 0.298,0.295 C0.722,-0.129 1.409,-0.129 1.832,0.295 L5.000,3.462 L8.167,0.295 C8.591,-0.129 9.278,-0.129 9.701,0.295 C10.125,0.718 10.125,1.405 9.701,1.829 Z"/></svg>');
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.accordion_menu > li.noborder > a:after {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.submenu_items {
  background-color: #f0f2f7;
  margin: 10px 0 0 0; }
  .submenu_items li {
    background-image: none;
    border-bottom: 1px solid #dfe4ee; }
    .submenu_items li a {
      color: #b9bed1;
      text-decoration: none;
      padding: 0 20px; }

.product_filter__title {
  padding: 15px 20px;
  border-bottom: 1px solid #f2f2f2;
  text-transform: uppercase;
  color: #343e5c;
  font-weight: bold; }

.filter_items {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #f2f2f2; }
  .filter_items li {
    margin-bottom: 20px; }

.product_filter__brands input, .filter_condition input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  vertical-align: middle;
  border: 2px solid #dfe4ee;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-background-size: 0 0;
          background-size: 0 0;
  background-position: 50% 50%;
  -webkit-transition: .3s  ease;
  -o-transition: .3s  ease;
  transition: .3s  ease; }
  .product_filter__brands input:checked, .filter_condition input:checked {
    border: none;
    background-color: #00e2aa;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="7px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M9.651,1.888 L4.984,6.642 C4.555,7.080 3.858,7.080 3.428,6.642 L0.317,3.472 C-0.112,3.035 -0.112,2.326 0.317,1.888 C0.747,1.450 1.443,1.450 1.873,1.888 L4.206,4.264 L8.095,0.302 C8.525,-0.135 9.222,-0.135 9.651,0.302 C10.081,0.741 10.081,1.450 9.651,1.888 Z"/></svg>');
    background-repeat: no-repeat;
    -webkit-background-size: 50% 50%;
            background-size: 50% 50%; }

.product_filter__available, .filter_delivery {
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */ }
  .product_filter__available .radiobox, .filter_delivery .radiobox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .product_filter__available .radiobox input, .filter_delivery .radiobox input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
  .product_filter__available .checkmark, .filter_delivery .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 2px solid #dfe4ee;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .product_filter__available .radiobox input:checked, .filter_delivery .radiobox input:checked {
    background-color: #fff; }
  .product_filter__available .checkmark:after, .filter_delivery .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .product_filter__available .radiobox input:checked ~ .checkmark:after, .filter_delivery .radiobox input:checked ~ .checkmark:after {
    display: block; }
  .product_filter__available .radiobox .checkmark:after, .filter_delivery .radiobox .checkmark:after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #00deea; }

.content_container {
  max-width: 840px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 380px 380px 380px;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  margin-bottom: 30px; }

.content_block {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: white;
  text-align: center; }
  .content_block img {
    padding: 15px;
    height: 200px; }
    .content_block img:hover {
      -webkit-filter: brightness(1.4);
              filter: brightness(1.4); }
  .content_block h4 {
    font-size: 16px;
    color: #1c1e23; }
  .content_block p {
    color: #b8bfd3;
    margin: 15px; }
  .content_block .price_old {
    color: #343e5c;
    text-decoration: line-through;
    display: block;
    padding: 10px;
    font-size: 14px; }
  .content_block .price_new {
    color: #343e5c;
    color: darkred;
    font-size: 14px; }

.content_ads {
  grid-column-start: 2;
  grid-column-end: 4; }
  .content_ads img {
    height: auto;
    padding: 0; }
  .content_ads h4 {
    font-size: 16px;
    color: #1c1e23;
    text-align: left;
    margin: 15px; }
  .content_ads p {
    color: #b8bfd3;
    text-align: left;
    margin: 15px; }
  .content_ads .product_options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .content_ads .product_options .product_buttons {
      border: 2px solid #f2f2f2;
      margin: -60px 20px 0 0;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      padding: 10px; }
      .content_ads .product_options .product_buttons .options {
        padding: 10px 30px;
        border-right: 2px solid #f2f2f2; }
      .content_ads .product_options .product_buttons .link_buy {
        padding: 30px; }

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 100%;
  margin-bottom: 50px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: white;
  text-align: center; }
  .pagination a {
    color: #3a405b;
    text-decoration: none;
    padding: 18px 20px;
    margin: 5px 5px;
    font-size: 14px;
    font-weight: bold; }
    .pagination a:hover {
      color: #b9bed1; }
  .pagination .prev {
    padding-left: 100px;
    margin-right: auto; }
  .pagination .next {
    padding-right: 100px;
    margin-left: auto; }
  .pagination .active {
    border: 1px solid #f2f2f2;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
    color: #b9bed1; }

.modules {
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: white;
  text-align: center;
  margin-bottom: 50px; }
  .modules .module_title {
    padding: 23px;
    border-bottom: 1px solid #f2f2f2;
    color: #343e5c;
    font-weight: bold; }
  .modules .bestsellers_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .modules .bestsellers_item {
    background-color: white;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 270px;
        -ms-flex: 1 0 270px;
            flex: 1 0 270px;
    min-width: 150px;
    border-right: 1px solid #f2f2f2; }
    .modules .bestsellers_item img {
      padding: 15px;
      height: 200px; }
      .modules .bestsellers_item img:hover {
        -webkit-filter: brightness(1.4);
                filter: brightness(1.4); }
    .modules .bestsellers_item h4 {
      font-size: 16px;
      color: #1c1e23; }
    .modules .bestsellers_item p {
      color: #b8bfd3;
      margin: 15px; }
    .modules .bestsellers_item .price_old {
      color: #343e5c;
      text-decoration: line-through;
      display: block;
      padding: 10px;
      font-size: 14px; }
    .modules .bestsellers_item .price_new {
      color: #343e5c;
      font-size: 14px; }

.filter_wrapper {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: white;
  color: #b9bed1;
  text-transform: uppercase;
  font-family: "montserratregular";
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px; }

.sort_filter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 230px;
      -ms-flex: 1 1 230px;
          flex: 1 1 230px;
  height: 100%;
  position: relative;
  border-right: 1px solid #f2f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .sort_filter label {
    padding: 20px 5px 20px 20px; }
  .sort_filter select {
    width: 130px;
    padding: 20px 20px 20px 5px;
    color: #343e5c;
    text-transform: uppercase;
    border: 0;
    font-weight: bold;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .sort_filter .select-arrow {
    position: absolute;
    z-index: 1;
    right: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="6px"> <path fill-rule="evenodd"  opacity="0.302" fill="rgb(52, 62, 92)" d="M9.701,1.829 L5.866,5.664 C5.629,5.902 5.310,5.992 5.000,5.963 C4.689,5.992 4.371,5.902 4.133,5.664 L0.298,1.829 C-0.125,1.405 -0.125,0.718 0.298,0.295 C0.722,-0.129 1.409,-0.129 1.832,0.295 L5.000,3.462 L8.167,0.295 C8.591,-0.129 9.278,-0.129 9.701,0.295 C10.125,0.718 10.125,1.405 9.701,1.829 Z"/></svg>');
    background-repeat: no-repeat;
    width: 11px;
    height: 7px; }

.keywords_filter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 290px;
      -ms-flex: 1 1 290px;
          flex: 1 1 290px;
  text-align: center; }
  .keywords_filter label {
    padding: 10px; }
  .keywords_filter input {
    width: 160px;
    padding: 10px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    border: 0;
    background-color: #f0f2f7;
    color: #b9bed1;
    font-size: 13px;
    font-weight: bold; }
    .keywords_filter input:hover {
      background-color: rgba(158, 160, 165, 0.27); }

.price_filter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 230px;
      -ms-flex: 1 1 230px;
          flex: 1 1 230px; }
  .price_filter input {
    width: 60px;
    padding: 10px;
    margin: 10px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    border: 0;
    background-color: #f0f2f7;
    color: #343e5c;
    font-weight: bold;
    font-size: 13px; }
    .price_filter input:hover {
      background-color: rgba(158, 160, 165, 0.27); }

.shipping_filter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 180px;
      -ms-flex: 1 1 180px;
          flex: 1 1 180px; }
  .shipping_filter input {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    vertical-align: middle;
    background-color: #00e2aa;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="7px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M9.651,1.888 L4.984,6.642 C4.555,7.080 3.858,7.080 3.428,6.642 L0.317,3.472 C-0.112,3.035 -0.112,2.326 0.317,1.888 C0.747,1.450 1.443,1.450 1.873,1.888 L4.206,4.264 L8.095,0.302 C8.525,-0.135 9.222,-0.135 9.651,0.302 C10.081,0.741 10.081,1.450 9.651,1.888 Z"/></svg>');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-background-size: 0 0;
            background-size: 0 0;
    background-position: 50% 50%;
    -webkit-transition: .3s  ease;
    -o-transition: .3s  ease;
    transition: .3s  ease; }
    .shipping_filter input:checked {
      -webkit-background-size: 50% 50%;
              background-size: 50% 50%; }

.shippto_filter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 200px;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .shippto_filter select {
    width: 70px;
    color: #343e5c;
    text-transform: uppercase;
    border: 0;
    font-weight: bold;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .shippto_filter .select-arrow {
    position: absolute;
    z-index: 1;
    right: 35px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="6px"> <path fill-rule="evenodd"  opacity="0.302" fill="rgb(52, 62, 92)" d="M9.701,1.829 L5.866,5.664 C5.629,5.902 5.310,5.992 5.000,5.963 C4.689,5.992 4.371,5.902 4.133,5.664 L0.298,1.829 C-0.125,1.405 -0.125,0.718 0.298,0.295 C0.722,-0.129 1.409,-0.129 1.832,0.295 L5.000,3.462 L8.167,0.295 C8.591,-0.129 9.278,-0.129 9.701,0.295 C10.125,0.718 10.125,1.405 9.701,1.829 Z"/></svg>');
    background-repeat: no-repeat;
    width: 11px;
    height: 7px; }

.reviews_wrapper {
  background-color: white;
  padding: 70px 0; }
  .reviews_wrapper .reviews_title {
    margin-bottom: 24px;
    font-family: "Times New Roman";
    font-size: 32px;
    text-align: center;
    text-transform: capitalize;
    color: #222328; }
  .reviews_wrapper .reviews_description {
    margin-bottom: 55px;
    font-family: "Times New Roman";
    font-size: 16px;
    text-align: center;
    color: #b9bed1; }
  .reviews_wrapper .reviews_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .reviews_wrapper .reviews_item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 290px;
        -ms-flex: 0 1 290px;
            flex: 0 1 290px;
    min-width: 200px; }
  .reviews_wrapper .reviews_autor {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .reviews_wrapper .reviews_autor .reviews_avatar {
      width: 44px;
      margin: 0 20px 25px 0;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .reviews_wrapper .reviews_autor .reviews_name {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 200px;
          -ms-flex: 0 1 200px;
              flex: 0 1 200px;
      margin-bottom: 10px;
      color: #3a405b; }
    .reviews_wrapper .reviews_autor .reviews_work {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 200px;
          -ms-flex: 0 1 200px;
              flex: 0 1 200px;
      color: #b9bed1;
      font-family: "crimson-roman";
      font-style: italic; }
  .reviews_wrapper .reviews_text p {
    font-family: crimson-roman;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #3a405b; }

footer {
  background-color: #222328; }
  footer .footer_top {
    padding: 60px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #2d2e33; }
    footer .footer_top a {
      color: white;
      text-decoration: none;
      padding: 18px 20px;
      margin: 5px 5px;
      font-size: 14px;
      font-weight: bold; }
      footer .footer_top a:hover {
        color: #b9bed1; }
  footer .footer_logo {
    padding-left: 10px;
    margin-right: auto; }
  footer .footer_social {
    padding-right: 10px;
    margin-left: auto; }
    footer .footer_social svg {
      margin: 10px; }
  footer .footer_bottom {
    padding: 60px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .footer_slogan {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 600px;
        -ms-flex: 0 1 600px;
            flex: 0 1 600px; }
    footer .footer_slogan p {
      font-family: "crimson-roman";
      font-style: italic;
      line-height: 20px; }
  footer .footer_credentials a {
    text-decoration: none;
    padding: 10px 10px;
    margin: 5px 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }
    footer .footer_credentials a:hover {
      color: #b9bed1; }
