*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: "montserratblack";
  src: url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype"); }

@font-face {
  font-family: "montserratregular";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "crimson-roman";
  src: url("../fonts/Crimson/crimson-roman-webfont.woff2") format("woff2"), url("../fonts/Crimson/crimson-roman-webfont.woff") format("woff"), url("../fonts/Crimson/crimson-roman-webfont.ttf") format("truetype"); }

body {
  min-width: 320px;
  color: #616161;
  font-family: "montserratregular";
  font-size: 15px;
  background-color: #e4e5e7; }

h1 {
  font-size: -webkit-calc(25px + 2.73vw);
  font-size: calc(25px + 2.73vw);
  /*60px*/
  margin-bottom: -webkit-calc(20px + 2.34vw);
  margin-bottom: calc(20px + 2.34vw);
  /*50px*/ }

h2 {
  font-size: -webkit-calc(20px + 2.34vw);
  font-size: calc(20px + 2.34vw);
  /*50px*/
  margin-bottom: -webkit-calc(20px + 2.34vw);
  margin-bottom: calc(20px + 2.34vw);
  /*50px*/
  font-family: "montserratregular"; }

h3 {
  font-weight: 600;
  font-size: -webkit-calc(15px + 1.17vw);
  font-size: calc(15px + 1.17vw);
  /*30px*/
  margin-bottom: 10px; }

h5 {
  font-family: "PoppinsMedium", sans-serif;
  font-size: -webkit-calc(15px + .39vw);
  font-size: calc(15px + .39vw);
  /*20px*/
  margin-bottom: -webkit-calc(15px + 1.95vw);
  margin-bottom: calc(15px + 1.95vw); }

header {
  background-color: white; }

.headline h2 span {
  position: relative;
  z-index: 2; }

.headline h2:after {
  content: attr(data-count);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #f6f6f6;
  font-size: -webkit-calc(50px + 17.18vw);
  font-size: calc(50px + 17.18vw);
  font-family: 'PoppinsMedium'; }

.headline_section {
  text-align: center;
  margin-bottom: -webkit-calc(20px + 4.68vw);
  margin-bottom: calc(20px + 4.68vw); }

.headline_section .headline h2:after {
  right: 0;
  color: #f0f0f0; }

.fix_headline {
  position: relative; }

p {
  /*margin-bottom: calc(15px + 1.95vw); 40px*/ }

a {
  color: #3a3a3a; }

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.container_fluid {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.button {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: -webkit-calc(25px + 5.07vw);
  margin-bottom: calc(25px + 5.07vw);
  background-color: #fc5f45;
  padding: 20px -webkit-calc(20px + 2.34vw);
  padding: 20px calc(20px + 2.34vw);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.button:hover {
  background-color: #38c695; }

.main_wrapper {
  background-color: #e4e5e7; }

.content_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  color: #b9bed1;
  text-transform: uppercase;
  font-family: "montserratregular";
  font-size: 12px;
  font-weight: bold; }

header .container_fluid {
  border-bottom: 1px solid #f2f2f2; }

.header__nav {
  padding: 35px 45px;
  border-right: 1px solid #f2f2f2; }

.header__nav_line {
  position: relative;
  padding: 1px 10px;
  border-bottom: 2px solid #343e5c; }

.header__nav_line:before {
  content: '';
  top: 15px;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #343e5c; }

.header__nav_line:after {
  content: '';
  top: 9px;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #343e5c; }

.header {
  position: relative;
  z-index: 10;
  background-color: black;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.header_logo {
  padding: 30px; }

.header_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header_menu li {
  padding: 40px 16px; }
  .header_menu li a {
    font-family: "montserratregular";
    font-size: 14px;
    font-weight: bold;
    text-decoration: none; }
    .header_menu li a:hover {
      color: #b9bed1; }

.header_top {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.menu__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.menu_item:not(:last-child) {
  margin-right: -webkit-calc(15px + .78vw);
  margin-right: calc(15px + .78vw); }

.menu_link {
  color: #272727;
  text-decoration: none;
  font-size: 14px;
  font-family: 'PoppinsMedium', sans-serif; }

.header_cart {
  padding: 15px 15px; }

.header_register {
  padding: 10px 15px; }

.header_register p {
  padding: 10px 18px;
  border: 2px solid #e3e8f0;
  -webkit-border-radius: 30px;
          border-radius: 30px; }

.header_bottom {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header_bottom a {
    font-family: "montserratregular";
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #b9bed1; }
    .header_bottom a:hover {
      color: #343e5c; }
    .header_bottom a.active {
      color: #343e5c; }

.header_bottom_menu {
  border-right: 1px solid #f2f2f2; }

.header_main_menu {
  padding: 20px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 800px; }

.header_main_menu ul {
  padding: 20px 15px; }

.header_main_menu li {
  padding: 20px 15px; }

.header_main_menu .last_item {
  margin-left: auto; }

.search_icon:before {
  width: 20px;
  height: 20px;
  content: '\1F50E'; }

.slider_block {
  height: 500px;
  background-color: #14181e;
  margin-bottom: 50px; }
  .slider_block .slide_info {
    position: absolute;
    top: 20px;
    z-index: 10;
    width: 460px;
    color: white;
    margin: 100px; }
    .slider_block .slide_info h2 {
      font-size: 42px;
      font-family: "montserratblack";
      color: white;
      margin-bottom: 30px; }
    .slider_block .slide_info p {
      font-family: "crimson-roman";
      font-size: 16px;
      margin-bottom: 30px;
      line-height: 28px; }
    .slider_block .slide_info a {
      display: block;
      width: 140px;
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-family: "montserratregular";
      font-size: 12px;
      color: white;
      background-color: #2754eb;
      -webkit-border-radius: 20px;
              border-radius: 20px; }

.owl-dots {
  position: absolute;
  margin-top: -40px;
  text-align: center;
  width: 100%; }

.owl-dot {
  -webkit-border-radius: 50px;
          border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127, 127, 127, 0.5);
  margin-left: 5px;
  margin-right: 5px; }

.owl-dot.active {
  background: #7f7f7f; }

.owl-nav {
  font-size: 30px; }
  .owl-nav .owl-prev, .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    -webkit-border-radius: 50% !important;
            border-radius: 50% !important; }
    .owl-nav .owl-prev span, .owl-nav .owl-next span {
      display: block;
      line-height: 30px;
      width: 40px;
      height: 40px;
      border: 2px solid #494b4f !important;
      -webkit-border-radius: 50% !important;
              border-radius: 50% !important;
      color: white; }
    .owl-nav .owl-prev span:hover, .owl-nav .owl-next span:hover {
      background-color: #9ea0a5; }
  .owl-nav .owl-prev {
    left: 0; }
  .owl-nav .owl-next {
    right: 0;
    -webkit-border-radius: 50% !important;
            border-radius: 50% !important; }

.sidebar_container {
  width: 270px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px; }
  .sidebar_container .sidebar_block {
    width: 270px;
    min-height: 200px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: white;
    margin-bottom: 30px; }

.accordion_menu {
  width: 100%;
  max-width: 350px;
  margin: 0px auto 20px;
  background: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  list-style: none; }
  .accordion_menu li {
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid #f2f2f2; }
  .accordion_menu li > a {
    width: 100%;
    padding: 0 20px;
    font-size: 13px;
    text-transform: capitalize;
    color: #343e5c;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="6px"> <path fill-rule="evenodd"  opacity="0.302" fill="rgb(52, 62, 92)" d="M9.701,1.829 L5.866,5.664 C5.629,5.902 5.310,5.992 5.000,5.963 C4.689,5.992 4.371,5.902 4.133,5.664 L0.298,1.829 C-0.125,1.405 -0.125,0.718 0.298,0.295 C0.722,-0.129 1.409,-0.129 1.832,0.295 L5.000,3.462 L8.167,0.295 C8.591,-0.129 9.278,-0.129 9.701,0.295 C10.125,0.718 10.125,1.405 9.701,1.829 Z"/></svg>');
    background-repeat: no-repeat;
    background-position: 100% 50%; }

.submenu_items {
  background-color: #f0f2f7; }
  .submenu_items li {
    background-image: none; }
    .submenu_items li a {
      color: #b9bed1; }

.product_filter__title {
  padding: 15px 20px;
  border-bottom: 1px solid #f2f2f2;
  text-transform: uppercase;
  color: #343e5c;
  font-weight: bold; }

.filter_items {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #f2f2f2; }
  .filter_items li {
    margin-bottom: 20px; }

.content_container {
  width: 840px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.content_block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 260px;
      -ms-flex: 0 1 260px;
          flex: 0 1 260px;
  height: 200px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: white;
  margin-bottom: 30px; }
  .content_block img {
    width: 270px;
    height: 200px; }

.filter_wrapper {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: white;
  color: #b9bed1;
  text-transform: uppercase;
  font-family: "montserratregular";
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px; }

.sort_filter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 230px;
      -ms-flex: 1 1 230px;
          flex: 1 1 230px;
  height: 100%;
  position: relative;
  border-right: 1px solid #f2f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .sort_filter label {
    padding: 20px 5px 20px 20px; }
  .sort_filter select {
    width: 130px;
    padding: 20px 20px 20px 5px;
    color: #343e5c;
    text-transform: uppercase;
    border: 0;
    font-weight: bold;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .sort_filter .select-arrow {
    position: absolute;
    z-index: 1;
    right: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="6px"> <path fill-rule="evenodd"  opacity="0.302" fill="rgb(52, 62, 92)" d="M9.701,1.829 L5.866,5.664 C5.629,5.902 5.310,5.992 5.000,5.963 C4.689,5.992 4.371,5.902 4.133,5.664 L0.298,1.829 C-0.125,1.405 -0.125,0.718 0.298,0.295 C0.722,-0.129 1.409,-0.129 1.832,0.295 L5.000,3.462 L8.167,0.295 C8.591,-0.129 9.278,-0.129 9.701,0.295 C10.125,0.718 10.125,1.405 9.701,1.829 Z"/></svg>');
    background-repeat: no-repeat;
    width: 11px;
    height: 7px; }

.keywords_filter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 290px;
      -ms-flex: 1 1 290px;
          flex: 1 1 290px;
  text-align: center; }
  .keywords_filter label {
    padding: 10px; }
  .keywords_filter input {
    width: 160px;
    padding: 10px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    border: 0;
    background-color: #f0f2f7;
    color: #b9bed1;
    font-size: 13px;
    font-weight: bold; }

.price_filter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 230px;
      -ms-flex: 1 1 230px;
          flex: 1 1 230px; }
  .price_filter input {
    width: 60px;
    padding: 10px;
    margin: 10px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    border: 0;
    background-color: #f0f2f7;
    color: #343e5c;
    font-weight: bold;
    font-size: 13px; }

.shipping_filter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 180px;
      -ms-flex: 1 1 180px;
          flex: 1 1 180px; }
  .shipping_filter input {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    vertical-align: middle;
    background-color: #00e2aa;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="7px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M9.651,1.888 L4.984,6.642 C4.555,7.080 3.858,7.080 3.428,6.642 L0.317,3.472 C-0.112,3.035 -0.112,2.326 0.317,1.888 C0.747,1.450 1.443,1.450 1.873,1.888 L4.206,4.264 L8.095,0.302 C8.525,-0.135 9.222,-0.135 9.651,0.302 C10.081,0.741 10.081,1.450 9.651,1.888 Z"/></svg>');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-background-size: 0 0;
            background-size: 0 0;
    background-position: 50% 50%;
    -webkit-transition: .3s  ease;
    -o-transition: .3s  ease;
    transition: .3s  ease; }
    .shipping_filter input:checked {
      -webkit-background-size: 50% 50%;
              background-size: 50% 50%; }

.shippto_filter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 200px;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .shippto_filter select {
    width: 70px;
    color: #343e5c;
    text-transform: uppercase;
    border: 0;
    font-weight: bold;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .shippto_filter .select-arrow {
    position: absolute;
    z-index: 1;
    right: 35px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="6px"> <path fill-rule="evenodd"  opacity="0.302" fill="rgb(52, 62, 92)" d="M9.701,1.829 L5.866,5.664 C5.629,5.902 5.310,5.992 5.000,5.963 C4.689,5.992 4.371,5.902 4.133,5.664 L0.298,1.829 C-0.125,1.405 -0.125,0.718 0.298,0.295 C0.722,-0.129 1.409,-0.129 1.832,0.295 L5.000,3.462 L8.167,0.295 C8.591,-0.129 9.278,-0.129 9.701,0.295 C10.125,0.718 10.125,1.405 9.701,1.829 Z"/></svg>');
    background-repeat: no-repeat;
    width: 11px;
    height: 7px; }

footer {
  background-color: red; }
