div.content_container
    div.content_block
        img(src="img/1.png")
        h4.product_title Apple TV 32GB
        p.product_description BLACK
        span.price_old activ $44.99
        span.price_new $39.99
    div.content_block
        img(src="img/2.png")
        h4.product_title Apple TV 32GB
        p.product_description BLACK
        span.price_old $44.99
        span.price_new
    div.content_block
        img(src="img/2.png")
        h4.product_title Apple TV 32GB
        p.product_description BLACK
        span.price_old $44.99
        span.price_new
    div.content_block
        img(src="img/1.png")
        h4.product_title Apple TV 32GB
        p.product_description BLACK
        span.price_old $44.99
        span.price_new
    div.content_block.content_ads
        img(src="img/ads.png")
        h4.product_title Apple TV 32GB
        p.product_description BLACK
        div.product_options
            div.product_buttons
                a.options 16GB
                a.link_buy BUY NOW
    div.content_block
        img(src="img/1.png")
        h4.product_title Apple TV 32GB
        p.product_description BLACK
        span.price_old $44.99
        span.price_new
    div.content_block
        img(src="img/1.png")
        h4.product_title Apple TV 32GB
        p.product_description BLACK
        span.price_old $44.99
        span.price_new
    div.content_block
        img(src="img/1.png")
        h4.product_title Apple TV 32GB
        p.product_description BLACK
        span.price_old $44.99
        span.price_new
