div.content_container
    div.content_block
        img(src="img/1.png")
        h4.product_title Apple TV 32GB
        p.product_description BLACK
        span.price_old 44.99
        span.price_new
    div.content_block
    div.content_block
    div.content_block
    div.content_block
    div.content_block
    div.content_block
    div.content_block
