div.container_fluid
    div.filter_wrapper
        div.container
            div.sort_filter
                div.sort_filter_item
                    label Sort By:
                    select
                        option Best match
                        option Lower price
                        option Higer price
                        option In stock
            div.keywords_filter
                label keywords
                input(value="Tablet")
            div.price_filter
                label Price
                input(id="pricefrom", value="10")
                input(id="priceto", value="1000")
            div.shipping_filter
                input(type="checkbox")
                label Free Shipping
            div.shippto_filter
                label Ship to:
                select
                    option USA
                    option EU

