div.container_fluid
    div.container
        div.filter_wrapper
            div.sort_filter
                label Sort By:
                select
                    option Best match
                    option Lower price
                    option Higer price
                    option In stock
                div.select-arrow
            div.keywords_filter
                label keywords
                input(value="Tablet")
            div.price_filter
                label Price
                input(id="pricefrom", value="10")
                | -
                input(id="priceto", value="1000")
            div.shipping_filter
                input(type="checkbox")
                label Free Shipping
            div.shippto_filter
                label Ship to:
                select
                    option USA
                    option EU
                div.select-arrow

