div.modules
    div.bestsellers
        h4.module_title Best Sellers
        div.bestsellers_content
            div.bestsellers_item
                img(src="img/2.png")
                h4.product_title Apple TV 32GB
                p.product_description BLACK
                span.price_old $44.99
                span.price_new
            div.bestsellers_item
                img(src="img/2.png")
                h4.product_title Apple TV 32GB
                p.product_description BLACK
                span.price_old $44.99
                span.price_new
            div.bestsellers_item
                img(src="img/2.png")
                h4.product_title Apple TV 32GB
                p.product_description BLACK
                span.price_old $44.99
                span.price_new
            div.bestsellers_item
                img(src="img/2.png")
                h4.product_title Apple TV 32GB
                p.product_description BLACK
                span.price_old $44.99
                span.price_new