div.container_fluid.reviews_wrapper
    div.container
        div.reviews_heading
            h2.reviews_title What Our Customers Have to Say
            p.reviews_description Couple of Words About This Stories Section
        div.reviews_block
            div.reviews_item
                div.reviews_autor
                    div.reviews_avatar
                        img(src="/img/avatar1.png")
                    div.reviews_autor_item
                        div.reviews_name Celia Fields
                        div.reviews_work UX Expert
                div.reviews_text
                    p This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
            div.reviews_item
                div.reviews_autor
                    div.reviews_avatar
                        img(src="/img/avatar1.png")
                    div.reviews_autor_item
                        div.reviews_name Celia Fields
                        div.reviews_work UX Expert
                div.reviews_text
                    p This I have produced as a scantling f Jack’s great scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
            div.reviews_item
                div.reviews_autor
                    div.reviews_avatar
                        img(src="/img/avatar1.png")
                    div.reviews_autor_item
                        div.reviews_name Celia Fields
                        div.reviews_work UX Expert
                div.reviews_text
                    p This I have produced as a scantling of Jack’s greata scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
