div.sidebar_container
    div.sidebar_wrapper
        div.sidebar_block
            div#accordion
                ul.accordion_menu
                    li Top Sales
                    li Top Sales
                        ul.submenu_items
                            li
                                a(href="") Top Sales
                            li
                                a(href="") Top Sales
                            li
                                a(href="") Top Sales
                            li
                                a(href="") Top Sales
                            li
                                a(href="") Top Sales

                    li Top Sales
                    li Top Sales
                    li Top Sales
                        ul.submenu_items
                            li
                                a(href="") Top Sales
                            li
                                a(href="") Top Sales
                            li
                                a(href="") Top Sales
                            li
                                a(href="") Top Sales
                            li
                                a(href="") Top Sales



        div.sidebar_block
            div.product_filter__available
                div.product_filter__title
                    h6 Available
                div.product_filter__wrapper
                    ul.filter_items
                        li
                            input(type="radio",name="available",id="In Storage",value="In Storage")
                            label(for='In Storage') In Storage
                        li
                            input(type="radio",name="available",id="In Online-Shop",value="In Online-Shop")
                            label(for='In Online-Shop') In Online-Shop

            div.product_filter__brands
                div.product_filter__title
                    h6 Brands
                div.product_filter__wrapper
                    ul.filter_items
                        li
                            input(type="checkbox",name="available",id="In Storage",value="In Storage")
                            label(for='In Storage') In Storage
                        li
                            input(type="checkbox",name="available",id="In Online-Shop",value="In Online-Shop")
                            label(for='In Online-Shop') In Online-Shop



        div.sidebar_block
        div.sidebar_block
