div.container_fluid.slider_block
    div.container
        div.firstslide.owl-carousel.owl-theme
            div.item
                img(src="/img/banner.png")
                div.slide_info
                    h2 iPhone 6 32Gb
                    p At first, for some time, I was not able to answer him one word; but as he had taken me in his arms I held fast by him, or I should have fallen to the ground.
                    a(href='#') Buy Now
            div.item
                img(src="/img/banner.png")
                div.slide_info
                    h2 iPhone 6 32Gb
                    p At first, for some time, I was not able to answer him one word; but as he had taken me in his arms I held fast by him, or I should have fallen to the ground.
                    a(href='#') Buy Now
            div.item
               img(src="/img/banner.png")
