.pagination
  display: flex
  justify-content: center
  align-items: center
  height: 90px
  width: 100%
  border-radius: 5px
  background-color: $white
  text-align: center
  a
    color: $pagination
    text-decoration: none
    padding: 25px
    font-size: 14px
    font-weight: bold
  .prev
    padding-left: 100px
    margin-right: auto
  .next
    padding-right: 100px
    margin-left: auto
  .active
    border: 1px solid $border
    border-radius: 50%