$border: rgba(242,242,242,1)
$black: rgba(0,0,0,1)
$link: rgba(52,62,92,1)
$linktwo: rgba(185,190,209,1)

$slideboder: rgba(73,75,79,1)
$slidehover: rgb(158, 160, 165)

$background: rgba(228,229,231,1)
$white: rgba(255,255,255,1)
$cart: rgba(227,232,240,1)

